:root {
  --page-background-color: #EBE6DF;
  --page-background-image: url("img/background.jpg");
  --gamezone-background: rgba(114,90,64,0.7);
  --board-background: rgba(114,90,64,0.6);
  --banner-background: rgba(42, 25, 10,0.8);
  --nomatch-info-color: #AB4739;
  --score-info-color: #AB4739;
  --score-glow-color: #FE9272;
  --final-info-color: #AB4739;
  --card-shadow-color: rgba(0,0,0,0.4);
  --card-glow-color: #F9F56E;
  --congra-hl-color: #eadeaa;
  --congra-glow-color: #FFF6CE;
  --congra-text-color: #735249;/*#8f8c74;*/
  --congra-background-color: #1E130A;
  --final-background-color: rgba(40, 27, 17, 0.5);
  --transition-sec: 0.7s;
  /*
  --card-width
  --card-height
  --main-width
  --main-height
  */
}
body {
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-size: cover;
  margin: 0;
  font-family: Helvetica,'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}
#main {
  position: fixed;
  document
}
#scoreboard, #specialboard, #gamezone {
  position: relative;
  float: left;
  height: 100%;
}
#scoreboard {
  width: 18.7%;
  background: var(--board-background);
}
#specialboard {
  width: 17%;
  background: var(--board-background);
}
#gamezone {
  width: 64.3%;
  background-color: var(--gamezone-background);
}
#hand0container, #poolcontainer, #hand1container{
  position: relative;
}
#hand0container {
  height: 28%;
}
#poolcontainer {
  height: 37.5%;
}
#hand1container {
  height: 34.5%;
}
#hand0, #pool, #hand1{
  position: absolute;
  height: var(--card-height);
  width: 94.5%;
  left: 2.8%;
  top: calc(50% - var(--card-height)/2);
}
#repository,#table0, #table1, #score0, #score1 {
  position: absolute;
}
#repository,#table0, #table1{
  width: var(--card-width);
  height: var(--card-height);
}
#repository{
  right: calc(2.8% + var(--card-width)/4);
  top: calc(50% - var(--card-height)/2);
}
#table0{
    left: calc(50% - var(--card-width)/2);
    top: calc(30% - var(--card-height));
}
#table1{
  left: calc(50% - var(--card-width)/2);
  bottom: calc(30% - var(--card-height));
}
#score0, #score1{
  width: 100%;
}
#score0{
  top: 38%;
}
#score1{
  bottom: 38%;
}
.cardcontainer{
    width: var(--card-width);
    height: var(--card-height);
    perspective: 1000px;
}
.transitform{
  transition-property: transform;
  transition-duration: var(--transition-sec);
  -webkit-transition-property: transform;
  -webkit-transition-duration: var(--transition-sec);
}
.transitopacity{
  transition-property: opacity;
  transition-duration: var(--transition-sec);
  -webkit-transition-property: opacity;
  -webkit-transition-duration: var(--transition-sec);
}
.transitall{
  transition-property: top, left, transform;
  transition-duration: var(--transition-sec);
  -webkit-transition-property: top, left, transform;
  -webkit-transition-duration: var(--transition-sec);
}
.card{
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  border-radius: 3%;
}
.cardfront, .cardback{
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  border-radius: 3%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.4);
}
.cardfront{
  transform: rotateY(180deg);
}
.cardback{
  background-image: url("img/back.jpg");
}
.cardfront, .cardback{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.glow{
  -webkit-box-shadow: 0px 0px 0.6vw 0.4vw var(--card-glow-color);
  //box-shadow: 0px 0px 0.6vw 0.2vw var(--card-glow-color);
}
.cardcontainer.pop{
  transform: translate(0, calc(var(--card-height)*-0.4)) !important;
}
.bignotice{
  font-size: calc(var(--card-height)*0.45);
  font-family: georgia, "KaiTi";
  font-weight: bold;
  color: var(--score-info-color);
  text-shadow: 0 0 calc(var(--card-width)*0.1) #FE9272;
}
