:root {
  --page-background-color: #583e38;
  --page-background-image: url("img/background.jpg");
  --gamezone-background: rgba(114,90,64,0.7);
  --board-background: rgba(114,90,64,0.6);
  --banner-background: rgba(42, 25, 10,0.8);
  --nomatch-info-color: #AB4739;
  --score-info-color: #AB4739;
  --score-glow-color: #FE9272;
  --final-info-color: #AB4739;
  --card-shadow-color: rgba(0,0,0,0.4);
  --card-glow-color: #F9F56E;
  --congra-hl-color: #eadeaa;
  --congra-glow-color: #FFF6CE;
  --congra-text-color: #735249;
  --congra-background-color: #1E130A;
  --final-background-color: rgba(40, 27, 17, 0.5);
  --transition-sec: 0.7s;
  /*
  --card-width
  --card-height
  --main-width
  --main-height
  */
}

body {
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-size: cover;
  margin: 0;
  overflow: hidden;
}
#main {
  margin: auto;
}
#scoreboard, #specialboard, #gamezone {
  position: relative;
  float: left;
  height: 100%;
}
#scoreboard {
  width: 18.7%;
  background: var(--board-background);
}
#specialboard {
  width: 17%;
  background: var(--board-background);
}
#gamezone {
  width: 64.3%;
  background-color: var(--gamezone-background);
}
#hand0 {
  height: 28%;
  position: relative;
}
#hand1 {
  height: 34.5%;
  position: relative;
}
#pool {
  height: 37.5%;
  position: relative;
}
#repository,#table0, #table1, #score0, #score1 {
  position: absolute;
}
#repository,#table0, #table1{
  width: var(--card-width);
  height: var(--card-height);
}
#repository{
  right: calc(2.8% + var(--card-width)/4);
  top: calc(50% - var(--card-height)/2);
}
#table0{
    left: calc(50% - var(--card-width)/2);
    top: calc(30% - var(--card-height));
}
#table1{
  left: calc(50% - var(--card-width)/2);
  bottom: calc(30% - var(--card-height));
}
#score0, #score1{
  width: 100%;
  font-size: 5vw;
  text-align: center;
  font-family: georgia;
  font-weight: bold;
  color: var(--score-info-color);
  text-shadow: 0 0 15px var(--score-glow-color);
}
#score0{
  top: 38%;
}
#score1{
  bottom: 38%;
}
/*
change card margin for hover and click
*/
.cardcontainer{
    width: var(--card-width);
    height: var(--card-height);
    position: absolute;
    perspective: 1000px;
    transition-property: top, left, transform;
    transition-duration: var(--transition-sec);
    webkit-transition-property: top, left, transform;
    webkit-transition-duration: var(--transition-sec);

}
.card{
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform, margin-top;
  transition-duration: var(--transition-sec);
  transform-style: preserve-3d;
  webkit-transition-property: transform, margin-top;
  webkit-transition-duration: var(--transition-sec);
  webkit-transform-style: preserve-3d;
}
.cardfront, .cardback{
  width: 100%;
  height: 100%;
  border-radius: 3%;
  background-size: 100% 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.cardfront{
  transform: rotateY(180deg);
}
.cardback{
  background-image: url("img/back.jpg");
}
.cardfront, .cardback{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.dummycard {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  border-radius: 3%;
}
#hand0 .dummycard, #pool .dummycard{
  top: calc(50% - var(--card-height)/2);
  left: 2.8%;
}
#hand1 .dummycard {
  top: calc(50% - var(--card-height)*0.3);
  left: 2.8%;
}
#repository .dummycard, #table0 .dummycard, #table1 .dummycard{
  top: 0;
  left: 0;
}
.faceup:hover .card{
  margin-top: calc(var(--card-height)*-0.3);
}
.faceup:hover, .poolbottom:hover, .pooltop:hover{
  transform: none !important;
}
.poolbottom:hover .card{
  margin-top: calc(var(--card-height)/4);
}
.pooltop:hover .card{
  margin-top: calc(var(--card-height)/-4);
}

.glow{
  -webkit-box-shadow: 0px 0px 10px 5px var(--card-glow-color);
  -moz-box-shadow: 0px 0px 10px 5px var(--card-glow-color);
  box-shadow: 0px 0px 10px 5px var(--card-glow-color);
}
.pop .card{
  margin-top: calc(var(--card-height)*-0.4);
}
