#infobox{
  transition: all 1s ease;
  position: absolute;
  top: 37%;
  bottom: 37%;
  left: 10%;
  right: 10%;
  font-family: "Microsoft Yahei";
  font-weight: bold;
  font-size: 2vw;
  color: var(--nomatch-info-color);
  text-align: center;
  vertical-align: middle;
  white-space: pre;
  padding-top: 20px;
}
#blocker {
  padding-top: 40%;
  white-space: pre;
  font-size: 5vw;
  color:var(--final-info-color);
}
#blocker, #combobanner{
  z-index: 999;
  display: none;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
}
/*
card: 1.2h
around card: 0.15h
text: 3vw
above text: 0.3h
*/
#combobanner{
  //display: block;
  background-color: var(--banner-background);
  overflow: hidden;
  transition: right calc(var(--transition-sec)*2);
}
#cccccccccccccccombobanner:active{
  right: 2999px;
}
#combotext{
  margin-top: calc(var(--card-height));
  font-size: calc(var(--card-height)*0.3);
  color: var(--congra-text-color);
  font-family: "microsoft yahei";
  background-color: var(--congra-background-color);
  padding-top: calc(var(--card-height)*0.3);
  padding-bottom: calc(var(--card-height)*0.15);
}
#combocards{
  height: calc(var(--card-height)*1.5);
  background-color: var(--congra-background-color);
}
.combohl{
  font-size: calc(var(--card-height)/2);
  color: var(--congra-hl-color);
  text-shadow: 0 0 calc(var(--card-height)/10) var(--congra-glow-color);
  padding: 2%;
}
.congra{
  background-image: url("img/wz3.jpg");
  width: calc(1.2*var(--card-width));
  height: calc(1.2*var(--card-height));
  background-size: 100% 100%;
  float: left;
  margin: 5px;
  -webkit-box-shadow: 0px 0px 10px 1px var(--congra-glow-color);
  -moz-box-shadow: 0px 0px 10px 1px var(--congra-glow-color);
  box-shadow: 0px 0px 10px 1px var(--congra-glow-color);
}
