#infobox{
  position: absolute;
  top: 37%;
  bottom: 37%;
  left: 10%;
  right: 10%;
  font-weight: bold;
  font-size: calc(var(--main-width)*0.02);
  color: var(--nomatch-info-color);
  vertical-align: middle;
  margin-top: 20px;
  white-space: pre;
}
#infobox1{
  position: absolute;
  bottom: 3%;
  width: 100%;
  font-size: 2vw;
  color: #33A;
  margin-top: 0px;
  white-space: pre;
}
#blocker {
  font-size: calc(var(--main-width)*0.05);
  color:var(--final-info-color);
}
.cover{
  z-index: 999;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: none;
}
.banner{
  /*transform: rotateY(90deg);*/
  opacity: 0;
  background-color: var(--banner-background);
}
.banner>div{
background-image : linear-gradient(to right,
                    rgb(30,19,10, 0) 8%,
                    rgb(30,19,10, 1) 40%,
                    rgb(30,19,10, 1) 60%,
                    rgb(30,19,10, 0) 92%);
}
#combotext{
  margin-top: calc(var(--win-height)/2 - var(--card-height)*1.25);
  font-size: calc(var(--card-height)*0.3);
  color: var(--congra-text-color);
  padding-top: calc(var(--card-height)*0.3);
  padding-bottom: calc(var(--card-height)*0.2);
}
#combocards{
  height: calc(var(--card-height)*1.5);
}
.combohl{
  font-size: calc(var(--card-height)/2);
  color: var(--congra-hl-color);
  text-shadow: 0 0 calc(var(--card-height)/10) var(--congra-glow-color);
  padding: 0 2%;
}

.postercard{
  width: calc(var(--card-width)*1.2);
  height: calc(var(--card-height)*1.2);
  background-size: 100% 100%;
  border-radius: 3%;
  float: left;
  margin-right: 10px;
  -webkit-box-shadow: 0px 0px 10px 1px var(--congra-glow-color);
  box-shadow: 0px 0px 10px 1px var(--congra-glow-color);
}
#finalcontainer{
  transition: transform 2s ease-out;
  -webkit-transition: transform 2s ease-out;
  transform: translate(0, calc(var(--win-height) * -1));
  -webkit-transform: translate(0, calc(var(--win-height) * -1));
}
#finalcontainer>div{
  width: calc(var(--main-height)*0.35);
  height:  calc(var(--main-height)*0.35);
  position: absolute;
  left: calc(50% - var(--main-height)*0.195);
  top:  32.5%;
  background-color: var(--final-background-color);
  border: calc(var(--main-height)*0.02) dashed rgba(0, 0, 0, 0.1);
  transform: rotate(22.5deg);
  -webkit-transform: rotate(22.5deg);
}
#finalcontainer>div:nth-child(2){
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#finalcontainer>div:nth-child(3){
  transform: rotate(67.5deg);
  web-kittransform: rotate(67.5deg);
}
#finalcontainer>div:nth-child(4){
  transform: rotate(0);
  -webkit-transform: rotate(0);
}
#finalcontainer>div>p{
    color: var(--congra-text-color);
    font-size: calc(var(--card-height)*0.15);
}
#finalmsg{
    margin-top: 25%;
    animation: finalneo 2s infinite;
    -webkit-animation: finalneo 2s infinite;
}

@keyframes finalneo{
  from {text-shadow: 0 0 calc(var(--card-width)*0.05) #FE9272;}
  50% {text-shadow: 0 0 calc(var(--card-width)*0.15) #FE9272;}
  to {text-shadow: 0 0 calc(var(--card-width)*0.05) #FE9272;}
}
@-webkit-keyframes finalneo{
  from {text-shadow: 0 0 calc(var(--card-width)*0.05) #FE9272;}
  50% {text-shadow: 0 0 calc(var(--card-width)*0.15) #FE9272;}
  to {text-shadow: 0 0 calc(var(--card-width)*0.05) #FE9272;}
}
.string{
  margin: 0;
  height: 25.255%;
  width: 0;
  border-right: calc(var(--main-height)*0.02) dashed var(--final-background-color);
  position: absolute;
  left: calc(50% - calc(var(--main-height)*0.01));
  top: 0;
}

#configurator {
  position: relative;
  height: 50%;
  width: 50%;
  top: 25%;
  align-items: center;
}
#configurator div{
  display: inline-block;
  font-size: 1.5vw;
}

#gamestart, #start_match,
#confirm_match, #cancel_match,
#create_room, #join_room,
#inviteinput, #invitebutton {
  border: 1px solid  #281B11;
  width: 25%;
  padding: 1vw 0;
  cursor: pointer;
}
#gamestart:hover, #gamestart:active,
#start_match:hover, #start_match:active,
#confirm_match:hover, #confirm_match:active,
#cancel_match:hover, #cancel_match:active
{
  background-color: #281B11;
  color: white;
}
