.tableinfocontainer{
  font-family: "FangSong";
  color: var(--text-hl-color);
  display: block;
  overflow: hidden;
}
.flexbox{
  position: relative;
  margin: auto;
  overflow:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}
.tableinfocontainer .infoheader{
  width: 80%;
  height: 15%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.tableinfocontainer .ccomboinfocontainer, .tableinfocontainer .icomboinfocontainer{
  display: none;
  max-height: 85%;
  overflow: auto;
}
.infoheader div{
  font-size: calc(var(--card-width) * 0.3);
  cursor: pointer;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color: rgba(255, 246, 206, 0.2);
  box-shadow: 0 0 4px 2px rgba(255, 246, 206, 0.2);
}
.smallcard {
    margin: calc(var(--card-width)*0.05) calc(var(--card-width)*0.05) calc(var(--card-width)*0.15);
}
.smallcard>div{
  width: calc(var(--card-width) * 0.78);
  height: calc(var(--card-height) * 0.78);
  background-size: 100% 100%;
  border-radius: 3%;
  box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.4);
}
.smallcard>p{
  font-family: "Microsoft Yahei";
  color: var(--text-shadow-color);
  font-size: calc(var(--main-width)*0.013);
  padding: 0;
  margin: calc(var(--main-width)*0.003) 0 0 0;
}
.combocard{
  height: calc(var(--card-height)*0.6);
  width: calc(var(--card-width)*6);
  margin-bottom: 1%;
  background-image : linear-gradient(to left,
                      rgba(58,46,35,0) 8%,
                      rgba(58,46,35,1)50%,
                      rgba(58,46,35, 0) 92%);
}
.combocard>div{
  float: left;
  height: calc(var(--card-height)*0.5);
  padding: calc(var(--card-height)*0.05) 0;
}
.combocard>div:first-child{
  width: 37%;
}
.combocard>div:last-child{
  width: 60%;
  text-align: left;
  padding-left: 3%;
}

.combocard .thumbnailcard{
  width: calc(var(--card-width) * 0.5);
  height: calc(var(--card-height) * 0.5);
  background-size: 100% 100%;
  border-radius: 3%;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.4);
  float: right;
  }

.combocard .thumbnailcard:not(:first-child){
  margin-right: calc(var(--card-width) * -0.22);
}

.combocard #combocardinfo{
  overflow: auto;
  width: 100%;
  font-size: calc(var(--main-width)*0.018);
  padding-bottom: 1%;
  margin-bottom: 2%;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-image: linear-gradient(to right,
    rgba(132, 127, 106,0),
    rgba(132, 127, 106,1) 10%,
    rgba(132, 127, 106,0) 65%) 100% 1;
  -webkit-border-image: linear-gradient(to right,
      rgba(132, 127, 106,0),
      rgba(132, 127, 106,1) 10%,
      rgba(132, 127, 106,0) 65%) 100% 1;
}
.combocard #combocardinfo div:first-child{
  float: left;
  width: 55%;
}
.combocard #combocardinfo div:last-child{
  float: left;
}
.combocard #combocardinfo div:last-child::after{
  content: "分";
}
.combocard #combocardchars span{
  font-size: calc(var(--main-width)*0.013);
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
}
.combocard #combocardchars span.notmine{
  color: var(--text-warnning-color);
}
.combocard #combocardchars span:not(:last-child)::after{
  content:"、";
}
.tableinfocontainer>.charinfocontainer:first-child>.smallcard>div{
  -webkit-box-shadow: 0px 0px 10px 1px var(--text-glow-color);
  box-shadow: 0px 0px 10px 1px var(--text-glow-color);
  margin-left: calc(50% - var(--card-width) * 0.39);
}
.tableinfocontainer>.charinfocontainer:first-child>.smallcard>p{
  color: var(--text-hl-color);
  font-size: calc(var(--main-width)*0.017);
  margin-top: calc(var(--card-height)*0.1);
}
.tableinfocontainer>.charinfocontainer:first-child{
  margin: calc(var(--card-height)*0.1) auto 0;
}
