.tableinfocontainer{
  background-color: rgba(135, 112, 89,0.85);
  font-family: "FangSong";
  color: #eadeaa;
}
.flexbox{
  position: relative;
  margin: auto;
  overflow:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}
.tableinfocontainer .infoheader{
  top: 5%;
  height: 10%;
  margin-bottom: 5%;
  text-shadow:  0 0 calc(var(--card-height)/10) var(--congra-hl-color);
  justify-content: space-between;
  overflow: hidden;
  color: #dbc66d;
}

.tableinfocontainer .ccomboinfocontainer, .tableinfocontainer .icomboinfocontainer{
  display: none;
  max-height: 85%;
  overflow: auto;
}
.infoheader div{
  font-size: calc(var(--card-width) * 0.3);
  padding: 0 calc(var(--card-width) * 0.1);
  cursor: pointer;
}
.smallcard {
    margin: calc(var(--card-width)*0.05);
}
.smallcard>div{
  width: calc(var(--card-width) * 0.78);
  height: calc(var(--card-height) * 0.78);
  background-size: 100% 100%;
  border-radius: 3%;
  box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.4);
}
.smallcard>p{
  font-family: "Microsoft Yahei";
  color: #252120;
  font-size: 1.3vw;
}
.smallcard>p::before{
  content: "基础分：";
}
.combocard{
  height: calc(var(--card-height)*0.6);
  width: calc(var(--card-width)*6);
  margin-bottom: 1%;
  background-image : linear-gradient(to left,
                      rgba(58,46,35,0) 8%,
                      rgba(58,46,35,1)50%,
                      rgba(58,46,35, 0) 92%);
}
.combocard>div{
  float: left;
  height: calc(var(--card-height)*0.5);
  padding: calc(var(--card-height)*0.05) 0;
}
.combocard>div:first-child{
  width: 37%;
}
.combocard>div:last-child{
  width: 60%;
  text-align: left;
  padding-left: 3%;
}

.combocard .thumbnailcard{
  width: calc(var(--card-width) * 0.5);
  height: calc(var(--card-height) * 0.5);
  background-size: 100% 100%;
  border-radius: 3%;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.4);
  float: right;
  }

.combocard .thumbnailcard:not(:first-child){
  margin-right: calc(var(--card-width) * -0.22);
}

.combocard #combocardinfo{
  overflow: auto;
  width: 100%;
  font-size: 1.8vw;
  padding-bottom: 1%;
  margin-bottom: 2%;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-image: linear-gradient(to right,
    rgba(132, 127, 106,0),
    rgba(132, 127, 106,1) 10%,
    rgba(132, 127, 106,0) 65%) 100% 1;
  -webkit-border-image: linear-gradient(to right,
      rgba(132, 127, 106,0),
      rgba(132, 127, 106,1) 10%,
      rgba(132, 127, 106,0) 65%) 100% 1;
}
.combocard #combocardinfo div:first-child{
  float: left;
  width: 55%;
}
.combocard #combocardinfo div:last-child{
  float: left;
}
.combocard #combocardinfo div:last-child::after{
  content: "分";
}
.combocard #combocardchars span{
  font-size: 1.3vw;
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
}
.combocard #combocardchars span.notmine{
  color: #DB4D3D;
}
.combocard #combocardchars span:not(:last-child)::after{
  content:"、";
}
